<h1 class="h2">Управление товарами</h1>
<button
  type="button"
  class="btn btn-primary mb-3"
  (click)="openAddNewProductDialog()"
>
  Добавить товар
</button>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Тип товара</th>
        <th>Цена/шт.</th>
        <th>На складе (шт.)</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.productType.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.totalQuantity }}</td>
        <td>
          <div class="d-flex gap-1 justify-content-evenly">
            <button
              type="button"
              class="btn btn-sm btn-warning"
              (click)="openUpdateProductDialog(product)"
            >
              Редактировать
            </button>
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="deleteProductById(product)"
            >
              Удалить
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
